@import "../styles/fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ProximaNova";
}

html, body { 
    width: 100%;
}

ul,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

#root {
    width: 100%;
}

.App {
    width: 100vw;
    margin: 0 auto;
    padding: 30px 60px;
    overflow-x: hidden;
}

@media screen and (max-width: 992px) {
    .App {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .App {
        padding: 10px;
    }
}